<div class="form-container form-container--narrow">
  <h1>Create a New Film Category List</h1>
  <%= simple_form_for @list do |f| %>
    <div class="form-group">
      <%= f.input :name, label: false, placeholder: "List Name" %>
      <%= f.input :image_url, label: false, placeholder: "Image URL" %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Create List", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
