.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  display: flex;
  align-items: center;
  gap: .6rem;
  font-size: 20px;
  font-weight: bold;
  color: #2b2d42;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
